.container
{
    min-width: 100vw;
    min-height: 100vh;
}
.table_responsive
{
    min-height: 500px;
    min-width: 1200px;
    max-height: 600px;
    background-color: #f5f5f5;
    margin: 20px;
    overflow-y: auto;
}
.table_responsive thead
{
    position: sticky;
    top: 0;
    z-index: 1000;
}
td
{
    position: relative;
}
.icon_1
{
    width: 20px;
    position: absolute;
    top: 20%;
    right: 22%;
}
.icon_2
{
    width: 20px;
    position: absolute;
    top: 20%;
    right: 0;
}
.icon_1:hover
{
    color: rgb(39, 75, 206);
    cursor: pointer;
}
.icon_2:hover
{
    color: rgb(250, 19, 19);
    cursor: pointer;
}
